.item {
  font-weight: bold;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-top: 1em;;
}

.userAvatar img {
  width: 5em;
  height: 5em;
  border-radius: 3em;
}

.itemTitle {
  margin-left: 1em;
}

.likes {
  color: red;
}
