.header {
  grid-area: header;
  background-color: black;
}

.header img {
  width: 60px;
}

.loginContainer {
  float: right;
}

.loginContainer a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.login {
  color: white;
}
