.nav {
  grid-area: nav;
}

.item {
  padding: 1em;
}

.item a {
  text-decoration: none;
  color: gray;
}

.item:hover {
  color: #424242;
  cursor: pointer;
}

.item a.active {
  font-weight: bold;
}
