.dialogWrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs {

}

.messages {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 70vh;
}

.message {}

.messageInput textarea {
  resize: none;
  width: 80%;
}

.messageInput {
  display: flex;
  width: 50%;
  justify-content: space-around;
  height: 2em;
}
